<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>SLC Quick Draw ! - R&D</title>
		<link rel="stylesheet" href="main.css" type="text/css" media="all">
		<script type="text/javascript" src="base64.js"></script>
		<script type="text/javascript" src="canvas2image.js"></script>
		<script type="text/javascript" src="draw.js"></script>
	</head>
	<body>
    <div id="">
    </div>
	<canvas id="myCanvas" width="510" height="510">
		HTML 5　Canvasに対応したブラウザを使用してください。
	</canvas>

    <div id="answerTitle1">
        <a>IBM Watson Visual Recognition</a>
    </div>
	<canvas id="answerCanvas1" width="480" height="120">
		HTML 5　Canvasに対応したブラウザを使用してください。
	</canvas>
    <div id="answerTitle2">
        <a>Microsoft Azure Machine Learning</a>
    </div>
	<canvas id="answerCanvas2" width="480" height="120">
		HTML 5　Canvasに対応したブラウザを使用してください。
	</canvas>
    <div id="answerTitle3">
        <a>Google Cloud Platform Vision API</a>
    </div>
	<canvas id="answerCanvas3" width="480" height="120">
		HTML 5　Canvasに対応したブラウザを使用してください。
	</canvas>
    <div id="logo">
        <img src="img/slc_logo.png">
    </div>

    <div id="logo_ibm">
        <img src="img/Partners-IBM-Watson-Logo.jpg">
    </div>
    <div id="logo_ms">
        <img src="img/2016-09-30-Microsoft-Azure-Logo.png">
    </div>
    <div id="logo_gcp">
        <img src="img/gcp.png">
    </div>

    <div id="title">
        <a>Slc Quick Draw</a>
    </div>
    <div id="title2">
        <a>SLC Forum 2017 - R&D</a>
    </div>
    <div id="menu">
        <button onclick="saveData()">保存</button>
    </div>
    <div id="clear">
        <button onclick="clearCanvas()">クリア</button>
    </div>
    <div id="arrow1">
        <a>⇒</a>
    </div>
    <div id="arrow2">
        <a>⇒</a>
    </div>
    <div id="arrow3">
        <a>⇒</a>
    </div>
    <div id="arrow4">
        <a>⇒</a>
    </div>
    <div id="arrow5">
        <a>⇒</a>
    </div>
    <div id="arrow6">
        <a>⇒</a>
    </div>
    <div id="arrow7">
        <a>⇒</a>
    </div>
    <div id="arrow8">
        <a>⇒</a>
    </div>
    <div id="arrow9">
        <a>⇒</a>
    </div>
    <div id="arrow10">
        <a>⇒</a>
    </div>

</body>

</html>